* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 1.4;
}

.tekstas {
  font-size: 1.4rem;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@keyframes tab-reveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 650px) {
  html {
    font-size: 9px;
  }
}